form {
    margin-left: 2rem;
    width: 30%;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    width: 400px;
}


.btn-primary {
    background-color: #073B4C;
    border-color: #073B4C;
}

.btn-primary:hover {
    background-color: #062e3c;
    border-color: #062e3c;
}

.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(7, 59, 76, 0.5);
}