header {
    background-color: #ffffff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body {
    font-family: Arial;
}

.footer {
    background-color: #073B4C;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 99%;
    color: #ffffff;
    font-weight: bolder;
    position: fixed;
}

.btn-primary, .btn-info {
    background-color: #073B4C;
    border-color: #073B4C;
}


.btn-primary:hover {
    background-color: #052a36;
    border-color: #052a36;
}

.footer {
    background-color: #073B4C;
}

.btn-danger{
    background-color: #DE1515;

}

.logo {
    width: 9rem;
    height: 9rem;
    margin-right: 3rem;
}

.nav-link {
    display: flex;
    margin-right: auto;
    justify-content: space-around;
}

.nav-link {
    text-decoration:underline;
    color: #073B4C;
    font-weight: bolder;
    margin-right: 2rem;
}







