header {
  background-color: #ffffff;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body {
  font-family: Arial;
}

.footer {
  background-color: #073b4c;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 99%;
  color: #ffffff;
  font-weight: bolder;
  position: fixed;
}

.btn-primary,
.btn-info {
  background-color: #073b4c;
  border-color: #073b4c;
}

.btn-primary:hover {
  background-color: #052a36;
  border-color: #052a36;
}

.footer {
  background-color: #073b4c;
}

.btn-danger {
  background-color: #de1515;
}

.logo {
  width: 9rem;
  height: 9rem;
  margin-right: 3rem;
}

.nav-link {
  display: flex;
  margin-right: auto;
  justify-content: space-around;
}

.nav-link {
  text-decoration: underline;
  color: #073b4c;
  font-weight: bolder;
  margin-right: 2rem;
}

/* .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
} */

/* .modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
} */

/* .close {
  color: #073b4c;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
} */
